@font-face {
  font-family: 'Bowlby One';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.shopify.com/s/files/1/0900/2614/8206/files/BowlbyOne-Regular.woff2?v=1739552051')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0900/2614/8206/files/BowlbyOne-Regular.woff?v=1739552051') format('woff');
}

/* Kanit - Body */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.shopify.com/s/files/1/0900/2614/8206/files/Kanit-Regular.woff2?v=1739552051') format('woff');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.shopify.com/s/files/1/0900/2614/8206/files/Kanit-Medium.woff?v=1739552051') format('woff');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.shopify.com/s/files/1/0900/2614/8206/files/Kanit-SemiBold.woff?v=1739552051') format('woff');
}
